/*------------------------------------*\
    Settings: colors
\*------------------------------------*/


// Default text color
$color-text: #222;

$color-text-medium: #666;

$color-text-light: #999;

// Google Material design; Red 600
$color-primary: #E53935;

// Google Material design; Red 900
$color-primary-hue: #B71C1C;

// Google Material design; Brown 50
$color-accent: #EFEBE9;

// Google Material design; Brown 100
$color-accent2: #D7CCC8;