


<footer>
  <div class="wrapper">

    <p class="footer__cta"><a href="/about/" class="button">About</a>  <a href="/work/" class="button">Work</a></p>

    <p class="social">
    Twitter: <a href="http://twitter.com/sjparsons">@sjparsons</a><br>
    Github: <a href="http://github.com/sjparsons">sjparsons</a></p>

    <p><a href="{{ "/colophon/" | prepend: site.baseurl }}">Colophon</a> | <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> | &copy; Copyright 2015-{{ 'now' | date: "%Y" }} Sam Parsons. All rights reserved.</p>

  </div>
</footer>
