<div class="tweet-back">
  <a
    href="https://twitter.com/intent/tweet?url={{ site.url | cgi_escape}}{{ page.url | cgi_escape }}"
  >
    <span class="genericon genericon-twitter tweet-back__icon"></span> Share on
    Twitter</a
  >
  <script>
    !(function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0],
        p = /^http:/.test(d.location) ? "http" : "https";
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    })(document, "script", "twitter-wjs");
  </script>
</div>
